.information-block
  .information-block__details
    +details({
      title: "Комфорт", 
      descr: "Шумопоглощающие стены", 
      image: 'insert_emoticon',
      })

    +details({
      title: "Удобства", 
      descr: "Окно в каждой из спален", 
      image: "location_city",
      })
      
  .information-block__reviews
    +review({
      image: "avatar",
      name: "Мурад Сарафанов",
      date: "5 дней назад",
      likes: 12,
      review: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей."
    })
