.type
  .type__wrapper
    p(class="type__item type__item_h1 type__item_h1_lighter") H1
    p(class="type__text type__text_h1") This one is the sub-section or widget title
  .type__wrapper
    p(class="type__item type__item_h2 type__item_h2_lighter") H2
    p(class="type__text type__text_h2") Next one is the item title inside widgets
  .type__wrapper
    p(class="type__item type__item_h3 type__item_h3_lighter") H3
    p(class="type__text type__text_h3") This is a label or CTA text
  .type__wrapper
    p(class="type__item type__item_body type__item_body_lighter") Body
    p(class="type__text type__text_body") This is the body text which is used for most of the design, like paragraphs, lists, etc.