.dropdown {
  position: relative;
  width: 320px;
  &_small {
    width: 150px;
  }
  &_medium {
    width: 266px;
  }
  &__name {
    @include type-h3;
  }
  &__date {
    @include type-body;
    line-height: 1.8rem;
  }
  &__field {
    width: 100%;
    height: 44px;
    border: 1px solid $color-dark-25;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding-left: 15px;
    margin-top: 5px;
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: $color-dark-75;
    display: flex;
    align-items: center;

    &:hover {
      border-color: $color-dark-50;
    }
    &_focus {
      border-color: $color-dark-50;
    }
  }
  &__content-wrapper {
    padding: 7px 7px 7px 15px;
    border: 1px solid $color-dark-25;
    border-top: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: none;
    &_show {
      display: block;
    }
  }
  &__check-wrapper {
    width: 44px;
    height: 44px;
    position: absolute;
    margin-top: 5px;
    right: 0;
    cursor: pointer;
  }
  &__check-mark {
    border: none;
    background: none;
    position: absolute;
    width: 9px;
    height: 9px;
    border-left: 2px solid $color-dark-50;
    border-bottom: 2px solid $color-dark-50;
    bottom: 50%;
    left: 50%;
    transform: rotate(-45deg) translate(-50%);
    z-index: -1;
  }
  &__item-name {
    @include type-h3;
  }
  &__item-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 7px;
  }
  &__item-counter {
    display: flex;
    align-items: center;
    width: 92px;
    justify-content: space-between;
  }
  &__counter {
    background: none;
    width: 30px;
    height: 30px;
    border: 1px solid $color-dark-50;
    border-radius: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    line-height: 21px;
    color: $color-dark-50;
    cursor: pointer;
    user-select: none;
    &_extreme-value {
      color: $color-dark-25;
      border: 1px solid $color-dark-25;
    }
  }
  &__counter-value {
    @include type-h3;
  }
  &__confirm-panel {
    display: flex;
    justify-content: space-between;
    margin-top: 29px;
    margin-bottom: 6px;
  }
  &__confirm-button {
    border: none;
    background: none;
    @include type-h3;
    color: $color-second;
    cursor: pointer;
  }
}
