include ../copyright-bar/copyright-bar.pug
footer.footer-mobile
  .footer-mobile__container
    .footer-mobile__logo 
      include ../logo-text/logo-text.pug
    .footer-mobile__copyright
      +copyright-bar({mobile: true})
      
