.booking-form {
  @include form-container;
  background-color: #fff;
  &__dates, &__guests{
    margin-top: 20px;
  }
  &__room-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  &__value-calc {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    @include type-body;
    &:first-child{
      margin-top: 20px;
    }
    &_big {
      margin-top: 30px;
      @include type-h2;
    }
  }
}