.booking-form {
  @include form-container;
  background-color: #fff;
  &__dates, &__guests{
    margin-top: 20px;
  }
  &__room-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  &__num {
    @include type-h1;
    font-size: 14px;
    line-height: 1rem;
  }
  &__room {
    @include type-h1;
    line-height: 1rem;
  }
  &__class {
    @include type-h3;
    font-weight: normal;
    margin-left: 5px;
    line-height: 1rem;
  }
  &__price {
    @include type-h3;
  }
  &__text {
    margin-left: 5px;
  }
  &__value-calc {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    @include type-body;
    &:first-child{
      margin-top: 20px;
    }
    &_big {
      margin-top: 30px;
      @include type-h2;
    }
  }
}