.buttons-block {
  &__title {
    @include type-h3;
  }
  &__checkbox-wrapper {
    max-width: 223px;
  }
  &__checkbox-buttons {
    margin-top: 16.56px;
  }
  &__radio-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
  }
  &__radio-wrapper {
    margin-top: 38.9px;
    max-width: 223px;
  }
  &__toggle-buttons {
    margin-top: 16px;
  }
  &__toggle-wrapper {
    margin-top: 38.9px;
    width: 100%;
  }
  &__liked-wrapper {
    margin-top: 38.9px;
  }
  &__like-buttons {
    margin-top: 16px;
    display: flex;
  }
  .like-button-colored {
    margin-left: 10px;
    .like-button__heart_unactive {
      opacity: 1;
    }
  }
  &__rate-wrapper {
    margin-top: 40px;
  }
  &__stars-blocks {
    display: flex;
    margin-top: 16px;
  }
  &__stars {
    &_all-stars {
      margin-left: 20px;
      .rate-buttons {
        &__item {
          &_uncolored {
            width: 20px;
            height: 19px;
            background-image: url("components/library.blocks/buttons/star.svg");
          }
        }
      }
    }
  }
}
