.checkbox-buttons
 p CHECKBOX BUTTONS
 .checkbox-wrapper
  +checkbox({
    item: [
      {content: "Mожно курить", name: "checkbox buttons"},
      {content: "Mожно с питомцами", name: "checkbox buttons"},
      {content: "Mожно пригласить гостей (до 10 человек)", name: "checkbox buttons"}
    ]
  })