include ../header/header.pug
section.headers-footers
  .container
    include ../logo/logo.html
  .headers-footers__container
    +header({})
    .headers-footers__divider
    +header({logged: true, name: "Юлий Цезарь"})
    .headers-footers__divider
    include ../footer/footer.pug