.lists-block-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 40.44px;
}

.checkboxes-block {
  width: 320px;
  .checkbox-opened {
    margin-top: 35px;
  }
}

.checkboxes-rich-block {
  max-width: 266px;
  .checkbox-rich__name span {
    @include type-h3;
  }
}

.bullet-list-block {
  width: 320px;
  span {
    @include type-h3;
  }
  ul {
    @include type-body;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      &::before {
        content: "";
        display: inline-block;
        width: 10px;
        height: 10px;
        background-color: $color-dark-25;
        border-radius: 10px;
        margin-right: 10.43px;
        margin-top: 24px;
      }
    }
  }
}
