.field-wrapper
  p(class="field-wrapper__text") DEFAULT
  +field-default({
    fieldName: "TEXT FIELD", 
    type: "email", 
    placeholder: "Email"
  })

.field-wrapper.field-wrapper_input-focused
  p(class="field-wrapper__text") HOVER / FOCUS
  +field-default({
    fieldName: "TEXT FIELD", 
    type: "text", 
    placeholder: "This is pretty awesome"
  })

.field-wrapper
  p(class="field-wrapper__text") DEFAULT
  +field-default({
    fieldName: "DROPDOWN", 
    type: "text", 
    placeholder: "Сколько гостей",
    dropdown: true
})

.field-wrapper
  +field-default({
    fieldName: "MASKED TEXT FIELD", 
    type: "text", 
    placeholder: "ДД.ММ.ГГ",
    isSmall: true
})

.field-wrapper
  +field-default({
    fieldName: "MASKED TEXT FIELD", 
    type: "text", 
    placeholder: "ДД.ММ.ГГ",
    isMedium: true
})