.field-wrapper {
  &_input-focused {
    .field-default {
      &__input {
        border-color: $color-dark-50;
      }
    }
  }
  width: 320px;
  position: relative;
  &__text {
    position: absolute;
    right: 0;
    @include type-h3;
    color: $color-dark-50;
    font-weight: normal;
  }
}
.field-default {
  margin-bottom: 20px;
  &__text-wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__text {
    &_light {
      color: $color-dark-50;
      font-weight: normal;
    }
  }
}
