.field__wrapper
  .field-default
    .field-default__text-wrapper
      p(class="field-default__text") TEXT FIELD
      p(class="field-default__text field-default__text_light") DEFAULT
    input(class="field-default__input" type="email" placeholder="Email")
  
  .field-default
    .field-default__text-wrapper
      p(class="field-default__text") TEXT FIELD
      p(class="field-default__text field-default__text_light") HOVER / FOCUS
    input(class="field-default__input field-default__input_focus" type="text" placeholder="This is pretty awesome")

  .field-default
    .field-default__text-wrapper
      p(class="field-default__text") DROPDOWN
      p(class="field-default__text field-default__text_light") DEFAULT
    .field-default__dropdown    
      input(class="field-default__input" type="text" placeholder="Сколько гостей")