include ../checkboxList/checkboxList.pug

.lists-block-wrapper
  .checkboxes-block
    +checkbox({
              item: [
              ],
              isDropped: true,
              name: 'expandable checkbox list'
            })

    .checkbox-opened
      +checkbox({
              item: [
                {content: "Завтрак", name: "checkbox buttons"},
                {content: "Письменный стол", name: "checkbox buttons"},
                {content: "Стул для кормления", name: "checkbox buttons"},
                {content: "Кроватка", name: "checkbox buttons"},
                {content: "Телевизор", name: "checkbox buttons"},
                {content: "Шампунь", name: "checkbox buttons"}
              ],
              isDropped: true,
              name: 'expandable checkbox list'
            })        

  .checkboxes-rich-block
    +checkbox({
              item: [
                {content: "Широкий коридор", descr: "Ширина коридоров в номере не менее 91 см.", name: "checkbox buttons"},
                {content: "Помощник для инвалидов", descr: "На 1 этаже вас встретит специалист  и проводит до номера.", name: "checkbox buttons"},
              ],
              name: 'rich Checkbox Buttons',
              isRich: true
            })        

  .bullet-list-block
    span BULLET LIST
    ul
      li 
        div Нельзя с питомцами
      li 
        div Без вечеринок и мероприятий
      li 
        div Время прибытия — после 13:00, а выезд до 12:00
