.lists-block-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 57px;
}

.checkboxes-block {
  width: 320px;
  .checkbox-opened {
    margin-top: 50px;
  }
}

.checkboxes-rich-block {
  max-width: 264px;
  .checkbox-rich__name span {
    @include type-h3;
  }
}

.bullet-list-block {
  width: 320px;
  span {
    @include type-h3;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 254px;
    li {
      position: relative;
      margin-top: 10px;
      &::before {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        background-color: $color-dark-25;
        border-radius: 10px;
        left: 0;
        top: 7px;
      }
    }
    li > div {
      @include type-body;
      color: $color-dark-75;
      padding-left: 20.43px;
      text-transform: inherit;
    }
  }
}
