@import "./text-fields/text-fields.scss";
@import "./buttons/buttons.scss";
@import "./dropdowns/dropdowns.scss";
@import "./lists/lists.scss";

.form-elements {
  position: relative;
  padding: 140px 141px 131px 140px;
}

.fields-button-wrapper {
  display: flex;
  justify-content: space-between;
}
