.checkbox-button {
  margin-top: 12px;
  &:first-child {
    margin-top: 0;
  }
  &__custom {
    position: absolute;
    opacity: 0;
    width: 20px;
    height: 20px;
    &:checked + label .checkbox-button__icon-out {
      position: relative;
      min-width: 20px;
      height: 20px;
      border: 1px solid $color-second;
      border-radius: 4px;
      margin-right: 1rem;
    }
    &:checked + label .checkbox-button__icon-in {
      position: absolute;
      width: 8px;
      height: 6px;
      border-left: 2px solid transparent;
      border-bottom: 2px solid transparent;
      border-image: linear-gradient(180deg, $color-second 0%, #8ba4f9 100%);
      border-image-slice: 1;
      top: 23%;
      left: 57%;
      transform: rotate(-45deg) translate(-50%, -50%);
    }
  }
  &__label {
    z-index: -1;
    position: relative;
    display: flex;
  }
  .checkbox-button__icon-out {
    position: relative;
    min-width: 20px;
    height: 20px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    margin-right: 1rem;
  }
  &__content {
    font-weight: normal;
    font-size: $size-body;
    color: $color-dark-50;
    margin-top: calc(20px / 2 - $size-body/2);
  }
}

.radio-button {
  position: relative;
  &_toggle {
    margin-top: 12px;
    &:first-child {
      margin-top: 0;
    }
  }
  &__custom {
    position: absolute;
    opacity: 0;
    width: 21px;
    height: 21px;
    border-radius: 10px;
    top: 50%;
    transform: translateY(-50%);
    &_toggle {
      min-width: 40px;
    }
    &:checked + label .radio-button {
      &__icon-out {
        position: relative;
        width: 21px;
        height: 21px;
        border: 1px solid $color-second;
        border-radius: 10px;
        margin-right: 1rem;
        &_toggle {
          min-width: 40px;
        }
      }
      &__icon-in {
        position: absolute;
        width: 12px;
        height: 12px;
        border-radius: 10px;
        background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        &_toggle {
          border-radius: 10px;
          left: 60%;
          transform: translateY(-50%);
        }
      }
    }
  }
  &__label {
    z-index: -1;
    position: relative;
    display: flex;
    &_toggle {
      align-items: center;
    }
  }
  &__icon-out {
    width: 21px;
    height: 21px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 10px;
    margin-right: 1rem;
    &_toggle {
      position: relative;
      min-width: 40px;
    }
  }
  &__icon-in {
    &_toggle {
      position: absolute;
      width: 12px;
      height: 12px;
      flex-shrink: 0;
      background: rgba(31, 32, 65, 0.25);
      border-radius: 10px;
      top: 50%;
      left: 10%;
      transform: translateY(-50%);
    }
  }
  &__content {
    font-weight: normal;
    font-size: $size-body;
    color: $color-dark-50;
  }
}

.like-button {
  width: 39.72px;
  height: 20px;
  border: 1px solid $color-dark-25;
  border-radius: 10px;
  display: flex;
  align-items: center;
  &__content {
    width: 50%;
    height: 100%;
    position: relative;
  }
  &__heart {
    // display: block;
    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    // &_uncolored {
    //   opacity: 1;
    // }
    // &_colored {
    //   opacity: 0;
    // }
    // &_active {
    //   display: block;
    // }
    &_unactive {
      opacity: 0;
    }
  }
  &__number {
    font-size: 10px;
    line-height: 12px;
    color: $color-dark-25;
  }
}
