.checkbox {
  &__item {
    margin-top: 12px;
  }
  &__item:first-child {
    margin-top: 0;
  }
  &__custom {
    position: absolute;
    opacity: 0;
    width: 23px;
    height: 23px;
    &:checked + label::before {
      content: "";
      width: 20px;
      height: 20px;
      border: 1px solid $color-second;
      border-radius: 4px;
      margin-right: 1rem;
    }
    &:checked + label::after {
      content: "";
      position: absolute;
      width: 6px;
      height: 4px;
      border-left: 3px solid transparent;
      border-bottom: 3px solid transparent;
      border-image: linear-gradient(180deg, $color-second 0%, #8ba4f9 100%);
      border-image-slice: 1;
      top: 2px;
      left: 10px;
      transform: rotate(-45deg) translate(-50%);
    }
  }
  &__label {
    z-index: -1;
    position: relative;
    display: flex;
    font-weight: normal;
    font-size: $size-body;
    color: $color-dark-50;
    &::before {
      content: "";
      display: inline-block;
      width: 20px;
      height: 20px;
      flex-shrink: 0;
      flex-grow: 0;
      border: 1px solid rgba(31, 32, 65, 0.25);
      border-radius: 4px;
      margin-right: 1rem;
    }
  }
}
