include ../fields/fields.pug
include ../dropdown/dropdown.pug
include ../dropdown-date/dropdown-date.pug

.fields-wrapper 
  .field-wrapper
    p(class="field-wrapper__text") DEFAULT
    +field-default({
      fieldName: "TEXT FIELD", 
      type: "email", 
      placeholder: "Email"
    })

  .field-wrapper
    .field-wrapper_input-focused
      p(class="field-wrapper__text") HOVER / FOCUS
      +field-default({
        fieldName: "TEXT FIELD", 
        type: "text", 
        value: "This is pretty awesome"
      })
      
  .field-wrapper
    p(class="field-wrapper__text") DEFAULT
    +dropdown({
        fieldName: "DROPDOWN",
        dropdownName: "guests",
        defaultContent: "Сколько гостей"
      })

  .field-wrapper
    +field-default({
      fieldName: "MASKED TEXT FIELD", 
      type: "text", 
      placeholder: "ДД.ММ.ГГГГ",
    })

  .dropdown-wrapper
    .date-dropdown-wrapper  

      +dropdown-date({
        fieldName: "DATE DROPDOWN", 
        type: "text", 
        placeholder: "ДД.ММ.ГГГГ",
        dateOut: "2019, 7, 19",
        isSmall: true,
        isSeparate: true
      })
    
      +dropdown-date({
        fieldName: "DATE DROPDOWN", 
        type: "text", 
        dateIn: "2019, 7, 19",
        dateOut: "2019, 7, 23",
        isLarge: true
      })

    //- +dropdown-date({
    //-     fieldName: "FILTER DATE DROPDOWN", 
    //-     type: "text", 
    //-     value: "19 авг - 23 авг",
    //-     isMedium: true
    //- })

    +field-default({
        fieldName: "SUBSCRIPTION TEXT FIELD", 
        type: "email", 
        placeholder: "Email",
        subscr: true,
        isMedium: true
    })