.fields-wrapper {
  width: 320px;
  .field-wrapper {
    position: relative;
    margin-top: 21px;
    &_input-focused {
      .field-default {
        &__input {
          border-color: $color-dark-50;
        }
      }
    }
    &_dropdown {
      margin-top: 43px;
    }
    &__text {
      position: absolute;
      right: 0;
      @include type-h3;
      color: $color-dark-50;
      font-weight: normal;
    }
  }
  .field-wrapper:first-child {
    margin-top: 0;
  }
}
