.date-picker {
  @include input-large;
  &_hide {
    display: none;
  }
  position: absolute;
    .air-datepicker {
      position: absolute;
      width: 100%;
    }
  &_hide {
    display: none;
  }
}