.field-default {
  position: relative;
  &_small {
    @include input-small
  }
  &_medium {
    @include input-medium
  }
  &_large {
    @include input-large
  }
  &__text {
    @include type-h3;
  }
  &__date {
    @include type-body;
    line-height: 1.8rem;
  }
  &__input {
    @include input;
    &:hover {
      @include input-hover;
    }
    &::placeholder {
      @include input-placeholder;
    }
    &::focus {
      @include input-focus;
    }
  }
  &__check-wrapper {
    width: 44px;
    height: 44px;
    position: absolute;
    margin-top: 5px;
    right: 0;
  }
  &__check-mark {
    @include dropdown-mark;
    &_subscr {
      position: absolute;
      width: 11px;
      height: 11px;
      border-color: $color-second;
      transform: rotate(-135deg) translate(-50%);
      left: 13px;
      top: 14px;
      &::after {
        content: "";
        position: absolute;
        background-color: $color-second;
        width: 12px;
        height: 2px;
        transform: rotate(135deg) translateX(45%) translateY(-65%);
      }
    }
  }
}
