.field-wrapper
  p(class="field-wrapper__text") DEFAULT
  +dropdown({
    fieldName: "DROPDOWN",
    dropdownName: "facilities",
    items: ["спальни", "кровати", "ванные комнаты"],
    isMedium: true
  })

  .field-wrapper
  p(class="field-wrapper__text") DEFAULT
  +dropdown({
    fieldName: "DROPDOWN",
    dropdownName: "guests",
    items: ["взрослые", "дети", "младенцы"],
    isMedium: true,
    isCalc: true,
    placeholder: "Сколько гостей",
    confirmPanel: true
  })
