include ../room-short-info/room-short-info.pug
include ../button-rate/button-rate.pug

mixin card (options)
  div(class = "room-card" data-room = options.room)
    .room-card__image
      include ../swiper/swiper.pug
    .room-card__info
      +roomShortInfo({room: ''})
      .room-card__divider
      .room-card__rate-wrapper
        +rate-button({})
        .room-card__rate-info