.form-elements {
  position: relative;
  margin-top: 285px;
  &__logo-wrapper {
    position: absolute;
    left: -111px;
    top: -115px;
  }
}

.fields-button-wrapper {
  display: flex;
  justify-content: space-between;
}