.form-elements {
  position: relative;
  margin-top: 285px;
  padding-bottom: 131px;
  &__logo-wrapper {
    position: absolute;
    left: -9px;
  }
}

.fields-button-wrapper {
  display: flex;
  justify-content: space-between;
}