.form-elements {
  margin-top: 285px;
  padding-bottom: 131px;
  &__logo-wrapper {
    position: absolute;
    left: 0px;
    top: 6px;
  }
}

.fields-button-wrapper {
  display: flex;
  justify-content: space-between;
}