include ../button-like/button-like.pug
.form-elements
  .form-elements__logo-wrapper
    include ../logo/logo.html
  .fields-button-wrapper 
    include ../text-fields/text-fields.pug
    include ../buttons/buttons.pug
  include ../dropdowns/dropdowns.pug
  include ../lists/lists.pug
  include ../details-block/details.pug