.forms-block {
  
  padding-bottom: 140px;
  &__horizontal-block {
    display: flex;
    justify-content: space-between;

  }
  &__vertical-block {
    display: flex;
    flex-direction: column;
  }
  &__form-wrapper {
    margin-top: 40px;
  }
  &__date-picker {
    @include input-large;
  }
  &__card .room-card {
    margin-top: 40px;
  }
}

.forms-block-wrapper {
  padding-top: 150px;
  position: relative;
  background-color: #F4F4F6;
}