.forms-block {
  position: relative;
  margin-top: 150px;
}

.layer {
  background-color: #F4F4F6;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  height: calc(150px + 100%);
  z-index: -1000;
  position: absolute;
  top: -150px;
}