include ../button/button.pug
include ../button-rate/button-rate.pug
include ../button-toggle/button-toggle.pug
include ../button-radio/button-radio.pug
include ../checkboxList/checkboxList.pug

.buttons-block
  .buttons-block__wrapper
    .buttons-block__checkbox-wrapper
      +checkbox({
        item: [
          {content: "Mожно курить", name: "checkbox buttons"},
          {content: "Mожно с питомцами", name: "checkbox buttons"},
          {content: "Mожно пригласить гостей (до 10 человек)", name: "checkbox buttons"}
        ],
        name: "CHECKBOX BUTTONS"
      })

    .buttons-block__radio-wrapper
      .buttons-block__title
        p RADIO BUTTONS
      .buttons-block__radio-buttons
        +radio-buttons({
          item: [
            {content: "мужчина", name: "radio buttons", checked: true},
            {content: "женщина", name: "radio buttons"},
          ]
        })

    .buttons-block__toggle-wrapper
      .buttons-block__title
        p TOGGLE
      .buttons-block__toggle-buttons
        +toggle-button({
          content: "Получать спецпредложения", 
          name: "toggle buttons", 
          isChecked: true
        })
      .buttons-block__toggle-buttons
        +toggle-button({
          content: "Получать спецпредложения", 
          name: "toggle buttons"
        })

    .buttons-block__liked-wrapper
      .buttons-block__title
        p LIKE BUTTON
      .buttons-block__like-buttons
        +like-button({
          isLiked: false,
          likes: 2
        })
        .like-button-colored
          +like-button({
            isLiked: true,
            likes: 12
          })

    .buttons-block__rate-wrapper
      .buttons-block__title
        p RATE BUTTON
          .buttons-block__stars-blocks
            .buttons-block__stars
              +rate-button({
                rate: 4
              })
            .buttons-block__stars.buttons-block__stars_all-stars
              +rate-button({
                rate: 5
              })

  .buttons-block__wrapper  
    .buttons-block__slider-wrapper
      .buttons-block__title
        p RANGE SLIDER
        p 5 000₽ - 10 000₽
      .buttons-block__slider
      include ../nouislider/nouislider.pug

    .buttons-block__simple-buttons-wrapper
      .buttons-block__title
        p BUTTONS 
        .buttons-block__simple-buttons.buttons-block__simple-buttons_colored
          +simple-button({
            type: 'colored',
            text: 'click me'
          })
          +simple-button({
            type: 'colored',
            text: 'click me'
          })
      .buttons-block__simple-buttons.buttons-block__simple-buttons_uncolored
        +simple-button({
          type: 'uncolored',
          text: 'click me'
        })
        +simple-button({
          type: 'uncolored',
          text: 'click me'
        })
      .buttons-block__simple-buttons.buttons-block__simple-buttons_unborded
        +simple-button({
          type: 'unborded',
          text: 'click me'
        })
        +simple-button({
          type: 'unborded',
          text: 'click me'
        })
      .buttons-block__simple-buttons.buttons-block__simple-buttons_long
        +simple-button({
            type: 'long',
            text: 'перейти к оплате'
          })
 
    .buttons-block__pagination-wrapper
      .buttons-block__title
        p PAGINATION
      .buttons-block__pagination
      include ../pagination/pagination.pug
      +pagination({
          dataTotalCount: 150,
          dataTake: 10
        })
      .buttons-block__pagination-descr
        p 1 – 12 из 100+ вариантов аренды
