.dropdown-date {
  position: relative;
  
  &__text {
    @include type-h3;
  }
  &__input {
    @include input;
    &_small {
    @include input-small
    }
    &_medium {
      @include input-medium
    }
    &_large {
      @include input-large
    }
    &:hover {
     @include input-hover;
    }
    &::placeholder {
      @include input-placeholder;
    }
    &:focus {
      @include input-focus;
    }
  }
  &__check-wrapper {
    width: 44px;
    height: 44px;
    position: absolute;
    margin-top: 5px;
    right: 0;
  }
  &__check-mark {
    @include dropdown-mark;
  }
  &__separate-wrapper {
    display: flex;
    justify-content: space-between;
    @include input-large;
  }
  &__separate {
    position: relative;
  }
  &__date-picker_hide {
    display: none;
  }
}
