.dropdown-date {
  position: relative;
  &__text {
    @include type-h3;
  }
  &_small {
      @include input-small
    }
    &_medium {
      @include input-medium
    }
    &_large {
      @include input-large
    }
  &__input {
    @include input;
    &:hover {
     @include input-hover;
    }
    &::placeholder {
      @include input-placeholder;
    }
    &:focus {
      @include input-focus;
    }
  }
  &__check-wrapper {
    width: 44px;
    height: 44px;
    position: absolute;
    margin-top: 5px;
    right: 0;
  }
  &__check-mark {
    @include dropdown-mark;
  }
  &_dropdown {
    &::placeholder {
      color: $color-dark-75;
    }
  }
}
