doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title UI kit

  body
    include ./components/library.blocks/fields/fields.pug
    include ./components/library.blocks/buttons/buttons.pug
    include ./components/library.blocks/buttons/button-like.pug
    include ./components/library.blocks/dropdown/dropdown.pug
    include ./components/library.blocks/checkboxList/checkboxList.pug
    include ./components/library.blocks/details/details.pug
    include ./components/library.blocks/reviews/reviews.pug
    .container
      include ./components/common.blocks/colors-and-types/colors-and-types.pug
      include ./components/common.blocks/form-elements/form-elements.pug
      //-img(src=require("./components/logo/logo.svg"))