doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title UI kit

  body
    include ./blocks/colors-and-types/colors-and-types.pug
    include ./blocks/form-elements/form-elements.pug
    include ./blocks/forms-block/forms-block.pug
    include ./blocks/headers-footers/headers-footers.pug