@import "./libs/fonts.css";
@import "./libs/colors.scss";
@import "./libs/types.scss";
@import "./components/library.blocks/fields/fields.scss";
@import "./components/library.blocks/buttons/buttons.scss";
@import "./components/library.blocks/dropdown/dropdown.scss";
@import "./components/library.blocks/nouislider/nouislider.scss";
@import "./components/library.blocks/pagination/pagination.scss";
@import "./components/common.blocks/logo/logo.scss";
@import "./components/common.blocks/colors-and-types/colors-and-types.scss";
@import "./components/common.blocks/form-elements/form-elements.scss";

* {
  font-family: 'Montserrat', Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  color: #1f2041;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}