include ../button/button.pug
header.header
  .header__wrapper
    include ../logo-text/logo-text.pug
    nav.header__nav
      a(class="header__nav header__nav_about" href="/mock-address/change-me") О нас
      a(class="header__nav header__nav_services" href="/mock-address/change-me") Услуги
      a(class="header__nav header__nav_vacancies" href="/mock-address/change-me") Вакансии
      a(class="header__nav header__nav_news" href="/mock-address/change-me") Новости
      a(class="header__nav header__nav_agreements" href="/mock-address/change-me") Соглашения
      +simple-button({type: 'uncolored',text: 'войти'})
      +simple-button({type: 'long',text: 'зарегестрироваться'})
