.header {
  position: relative;
  z-index: 10;
  background-color: #fff;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: $container-width;
    padding: 15px 140px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  }
  &__nav {
    display: flex;
    align-items: center;
  }
  &__nav {
    position: relative;
    @include type-body;
    color: $color-dark-50;
    margin-right: 20px;
    text-decoration: none;
    &_drop {
      margin-right: 36px;
      &::after {
        content: "";
        @include dropdown-mark;
        left: inherit;
        right: -16px;
        width: 6px;
        height: 6px;
      }
    }
  }
  &__nav a:first-child{
    color: $color-dark-75;
    font-weight: 700;
  }
  &__nav button {
    margin-left: 20px;
  }
  &__divider {
    width: 1px;
    height: 30px;
    left: 1179px;
    top: 270px;
    background: rgba(31, 32, 65, 0.1);
    margin-right: 20px;
  }
  &__user-name {
    @include type-body;
    color: $color-dark-50
  }
  &__logged {
    display: flex;
    align-items: center;
  }
}