mixin field-default(options)
  - 
    var fieldLength = ""
    fieldLength += options.isSmall ? "field-default field-default_small" : options.isMedium ? "field-default field-default_medium" : "field-default"
  
  div(class = fieldLength)
    .field-default__text-wrapper
      p(class="field-default__text")= options.fieldName

    //- - 
    //-   var fieldClassName = ""
    //-   fieldClassName += options.dropdown ? "field-default__dropdown" : ""

    //- div(class = fieldClassName)
    //-   .field-default__check
    //-   input(class="field-default__input" type= options.type placeholder= options.placeholder)


    - var fieldClassName = ""
      if options.dropdown
        div(class = fieldClassName)
          .field-default__check-wrapper
            .field-default__check-mark

      input(class="field-default__input" type= options.type placeholder= options.placeholder)