.field-default {
  position: relative;
  width: 320px;
  &_small {
    width: 150px;
  }
  &_medium {
    width: 266px;
  }
  &__text {
    @include type-h3;
  }
  &__input {
    width: 100%;
    height: 44px;
    border: 1px solid $color-dark-25;
    border-radius: 4px;
    padding-left: 15px;
    margin-top: 5px;
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: $color-dark-75;
    &:hover {
      border-color: $color-dark-50;
    }
    &::placeholder {
      font-size: 1.4rem;
      line-height: 1.8rem;
      color: $color-dark-25;
    }
    &_focus {
      border-color: $color-dark-50;
    }
  }
  &__check-wrapper {
    width: 44px;
    height: 44px;
    position: absolute;
    margin-top: 5px;
    right: 0;
  }
  &__check-mark {
    position: absolute;
    width: 9px;
    height: 9px;
    border-left: 2px solid $color-dark-50;
    border-bottom: 2px solid $color-dark-50;
    bottom: 50%;
    left: 50%;
    transform: rotate(-45deg) translate(-50%);
    &_subscr {
      position: absolute;
      width: 11px;
      height: 11px;
      border-color: $color-purple;
      transform: rotate(-135deg) translate(-50%);
      left: 13px;
      top: 14px;
      &::after {
        content: "";
        position: absolute;
        background-color: $color-purple;
        width: 12px;
        height: 2px;
        transform: rotate(135deg) translateX(45%) translateY(-65%);
      }
    }
  }
  &_dropdown {
    &::placeholder {
      color: $color-dark-75;
    }
  }
}
